*{
    margin: 0;
    padding: 0;
}

body{
    background-color: blue;
}

.card{
    background-color: white;
    padding: 25px;
}

.card-header{
    background-color: white;
    border-bottom: none;
    text-align: center;
}

.card-header img{
    max-width: 120px;
    margin-bottom: 10px;
}

.titulo{
    font-size: 3.5rem;
    font-weight: bold;
    color: black;
}

input{
    background-color: white;
    color: black;
    height: 50px;
    font-size: 1.1rem;
}

button{
    height: 55px;
    font-size: 1.2rem;
}

/* CAJA RESULTADO */
#resultado{
    background-color: #2f80ed;
    border-radius: 12px;
}

#resultado p{
    color: white;
}

/* SOLO NUMEROS */
.numero{
    font-weight: bold;
}
